body{
    background: black;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-family: Calibri, Arial, Helvetica, Tahoma, Verdana, sans-serif;
    
}


.top-section {
    padding-top: 5em;
    display: grid;
    display: flex;
    max-height: 300px;
}

.name-title{
    width: 50vw;
    margin-left: 3em;
}

#name {
    margin-top: 2em;
    font-size: 65px;
    font-weight: lighter;
    font-family: "Bookman Old Style", Arial, Helvetica, Tahoma, Calibri, Verdana, sans-serif;
    
}

.name-title h4 {
    margin-top: -0.5em;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.678);
    font-weight: 300;
    font-family: Calibri, Arial, Helvetica, Tahoma, Verdana, sans-serif;
}


.img-block{
    width: 50vw;
    height: 300px;
}
.img-block img{
    height: 100vh;
}

.block {
    margin-top: 4em;
    width: 100px;
    height: 300px;
    border-radius: 10px;
    
}
.one{
    width: 330px;
    height: 80px;
    margin-top: 17em;
    background: rgb(2,0,36);
    background: linear-gradient(336deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
}

.two{
    transform: rotate(150deg);
    margin-left: -1.4em;
    background: rgb(2,0,36);
    background: linear-gradient(219deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%);
}

.three{
    margin-left: 4.5em;
    margin-right: 7em;
    background: rgb(2,0,36);
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%);
}


span{
    display: inline-block;
    opacity: 0;
    transition: all 0.6s ease-in; 
    transform: translateX(50px);
    transform: scale(1.5);
}

span.fade{
    opacity: 1;
    transform: translateX(0px);
    transform: scale(1);
}

.background-img{
    height: 180px;
    width: 100%;
    margin-top: 100px;
    opacity: 0.5;
}


.projects{
    display: grid;
    padding-bottom: 3em;
}

.project-one{
    margin-top: 15em;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 10%;
}

.desktop {
    width: 20em;
    height: 240px;
    border-radius: 10px;
}

.desktop:hover{
    -webkit-transform:scale(1.05);
    transform: scale(1.05);
} 

.mobile{
    width: 9em;
    height: 220px;
    border-radius: 10px;
}

.project-two {
    margin-top: 15em;
    grid-column-start: 2;
    grid-column-end: 3;
}

.project-three{
    margin-top: 5em;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 10%;
}

button {
    color: white;
    background: rgba(128, 128, 128, 0.425);
    border: none;
    width: 8em;
    height: 2.5em;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    -webkit-transform:scale(1.05);
    transform: scale(1.05);
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

.project-title:hover{
    text-decoration: underline;
}

 .infoDiv1,
 .infoDiv2,
 .infoDiv3{
    width: 23em;
    height: 260px;
    border-radius: 10px;
    background: rgba(169, 169, 169, 0.603);
    display: none;
    text-align: center;
 }

 .mobile{
     position: relative;
 }

 .close1{
     border: 1px solid white;
     margin-top: 5%;
 }

 .close2{
    border: 1px solid white;
 }

 .close3{
    border: 1px solid white;
 }


 .logo{
     width: 7%;
     margin-top: 10px;
 }

 .skill-title{
     text-align: center;
     padding-top: 1em;
 }

 .skills{
     display: flex;
     margin: auto;
     justify-content: center;
     padding-left: 2em;
     padding-top: 1em;
     padding-bottom: 2em;
 }

 li{
     line-height: 2em;
     list-style: none;
 }

 li:hover{
     color: darkgray;
 }

hr{
    width: 90%;
}

.left-list{
    padding-right: 3em;
}

.right-list{
    margin-right: -2em;
}
.contact{
    text-align: center;
    margin-top: 2em;
}

.email{
    font-size: 28px;
    color: white;
}

.email:link{
    color: white;
}

.email:hover{
    text-decoration: underline;
}



 footer{
     font-size: 10px;
     height: 20%;
     color:darkgray;
     display: flex;
     margin-top: 6em;
 }

 .left-footer{
     margin-left: 10%;
 }

.right-footer{
    margin-left: 40%;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 800px) {
    .projects{
        display: block;
    }

    #name{
        font-size: 50px;
    }

    #heading{
        font-size: 20px;
    }

    .block{
        display: none;
    }

    .project-two{
        padding-left: 10%;
    }

    .mobile{
        display: none;
    }

    footer{
        display: block;
    }

    .right-footer{
        margin-left: 10%;
    }
}

