body{
    background: black;
    color: white;
    font-family: Calibri;
    letter-spacing: 2.5px;
}

.top-section {
    display: grid;
    display: flex;
    max-height: 300px;
}

.name-title{
    width: 50vw;
    text-align: center;
}

.name-title h1 {
    margin-top: 2em;
    font-size: 60px;
}

.name-title h4 {
    font-size: 40px;
}

.img-block{
    width: 50vw;
    height: 300px;
}
.img-block img{
    height: 100vh;
}

.block {
    margin-top: 4em;
    width: 100px;
    height: 300px;
    border-radius: 10px;
    
}
.one{
    width: 300px;
    height: 100px;
    margin-top: 16.5em;
    background: rgb(2,0,36);
    background: linear-gradient(336deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
}

.two{
    margin-left: 2em;
    transform: rotate(150deg);
    margin-left: -1.2em;
    background: rgb(2,0,36);
    background: linear-gradient(219deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}

.three{
    margin-left: 4.5em;
    margin-right: 7em;
    background: rgb(2,0,36);
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}
